{% extends layout %}
{% block content %}
  <div class="description">
 	<h2>Pun Sources</h2>
 	<ul>
 	<li>(1960) <a href="https://ebay.us/MYuIFH">The Little Pun Book</a> Assembled by Robert Margolin</li>
 	</ul>
 	<h2>Website created by</h2>
  	<p><a href="https://grimtech.net/about">Chris "CJ Crispy" Grimmett</a></p>
  </div>
{% endblock %}