{% extends layout %}
{% block content %}
  <div class="description">
	<h1>About</h1>
	<p>A quick and easy way to get a random pun. There's a <a target="_blank" href="/api">pun API</a> for developers, too!</p>
 	<h2>Pun Sources</h2>
 	<ul>
 	<li>(1960) <a target="_blank" href="https://ebay.us/MYuIFH">The Little Pun Book</a> Assembled by Robert Margolin</li>
 	</ul>
 	<h2>Website created by</h2>
  	<p><a target="_blank" href="https://grimtech.net/about">Chris "CJ Crispy" Grimmett</a></p>
        <p><a target="_blank" href="https://github.com/insanity54/punapi">Fork me on Github!</a></p>
  </div>
{% endblock %}
