<!doctype html>
<html  lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/mvp.css">
    <meta name="description" content="A quick and easy way to get a random pun. There's a pun API for developers, too!">
  </head>
  <body>
	  <nav>
	  	<ul>
	  		<li><a href="/">{{ title }}</a></li>
			<li><a href="/api">API</a></li>
		        <li><a href="/about">About</a></li>
			<li><a href="/obs">OBS optimized Pun</a></li>
	  	</ul>
	  </nav>
  	<main>
    	{% block content %}
    	{% endblock %}
    </main>
    <script async src="https://analytics.lot.sbtp.xyz/tracker.js" data-ackee-server="https://analytics.lot.sbtp.xyz" data-ackee-domain-id="2404d5ce-080c-4566-9976-c1c8f3b6942e"></script>
  </body>
</html>
