<!doctype html>
<html  lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/mvp.css">
    <meta name="description" content="Random Pun Generator">
  </head>
  <body>
	  <nav>
	  	<ul>
	  		<li>{{ title }}</li>
	  	</ul>
	  </nav>
  	<main>
    	{% block content %}
    	{% endblock %}
    </main>
  </body>
</html>